@model Hotel_Pandiani.Models.Asistencia

@{
    ViewData["Title"] = "Detalles";
}


<div>
    
    <h4>Detalles de la asistencia</h4>

    <hr />
    <br />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a id="boton-verde"  class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AsistenciaId">Editar</a> 
    <a id="bw"  class="btn btn-primary" asp-action="Index">Volver</a>
</div>
